@import 'mixin';

.features-section {
  @include flex-center;
  text-align: center;
  height: calc(100% - 72px);
  margin: 76px 0;
}

svg {
  height: 72px;
}

.feature {
  @include flex-center;

  p {
    max-width: 50%;
  }
}

.feature-title {
  @include flex-center;

  width: 100%;

  svg {
    margin-right: 48px;
  }
}
