header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  background: #2f80ed;
  position: sticky;
  top: 0;

  a {
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
    margin-right: 32px;

    &:nth-child(3) {
      margin-right: 0;
    }
  }

  nav {
    margin-right: 48px;
  }

  img {
    margin-left: 48px;
  }
}

@media screen and (max-width: 590px) {
  header {
    justify-content: center;

    nav {
      margin: 0;
    }

    img {
      margin: 0;
    }
  }
}
