@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -o-object-fit: cover;
  object-fit: cover;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Sans', sans-serif;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 72px;
  background: #2f80ed;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

header a {
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
  margin-right: 32px;
}

header a:nth-child(3) {
  margin-right: 0;
}

header nav {
  margin-right: 48px;
}

header img {
  margin-left: 48px;
}

@media screen and (max-width: 590px) {
  header {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  header nav {
    margin: 0;
  }
  header img {
    margin: 0;
  }
}

.features-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  height: calc(100% - 72px);
  margin: 76px 0;
}

svg {
  height: 72px;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.feature p {
  max-width: 50%;
}

.feature-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

.feature-title svg {
  margin-right: 48px;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 250px;
  background: #f2f2f2;
  border-radius: 16px;
  margin-right: 16px;
  padding: 16px 0;
}

.card button {
  border: none;
  background: #000;
  color: #fff;
  padding: 16px 18px;
  border-radius: 8px;
}

.price {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
}

.list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #c4c4c4;
  width: 100%;
  margin-top: 32px;
  padding: 16px;
}

.list-container > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-container > ul > li {
  margin-bottom: 8px;
}

.pricing-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: #e0e0e0;
}

@media screen and (max-width: 815px) {
  .pricing-section {
    height: auto;
    padding: 32px 0;
  }
  .card {
    margin-bottom: 16px;
  }
}

.about-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.about-section form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

.about-section form input {
  border-radius: 8px;
  border: 1px solid #000;
  height: 48px;
  padding: 8px 16px;
}

.about-section form input:nth-child(1) {
  margin-right: 8px;
  min-width: 30%;
}

.about-section form input:nth-child(2) {
  background-color: #000;
  color: #fff;
  padding: 8px 24px;
}

@media screen and (max-width: 590px) {
  iframe {
    max-width: 90%;
  }
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 250px;
  background: #f2f2f2;
  border-radius: 16px;
  margin-right: 16px;
  padding: 16px 0;
}

.card button {
  border: none;
  background: #000;
  color: #fff;
  padding: 16px 18px;
  border-radius: 8px;
}

.price {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
}

.list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #c4c4c4;
  width: 100%;
  margin-top: 32px;
  padding: 16px;
}

.list-container > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-container > ul > li {
  margin-bottom: 8px;
}
/*# sourceMappingURL=style.css.map */
